#site {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
}

#drag-wrapper {
    position: fixed;
    top: 25px;
    left: 1%;
    width: calc(100% - 100px);
    margin: 0;
    height: 16px;
    z-index: 100;
    border-radius: 4px;
    background: #f27011;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}
#drag-wrapper:before,
#drag-wrapper:after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
 }
#drag-wrapper:before {
    bottom: 0;
    background: url("../images/stripes.png") 0 0 repeat;
    border-radius: 4px 4px 0 0;
}
#drag-wrapper:after {
    z-index: 2;
    bottom: 45%;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}
.drag-border {
    position:relative;
}

#drag-container {
    width: 100%;
}

.drag-elem {
    position: absolute;
    z-index: 200;
    width: 50px;
    height: 50px;
    margin: -19px 0 0 0;
    background: url(../images/bg-star.png) no-repeat;
}
.drag-bar {
    height:100%;
    background:#f0f;
    width:0;
    position:absolute;
    z-index:5;
    border-radius:5px;
}

.slides {
    width: calc(25% - (3000px / 4));
    height: 100%;
    position: relative;
    z-index: 2;
    float: left;
}
#wrapper {
    overflow: hidden;
    width: calc(400% + 3100px);
    height: 100%;
    position: relative;
}
.skyes {
    background:url(../images/bg-skyes.jpg) repeat-x;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-size: cover;
}
#nav {
    position: fixed;
    top: 50%;
    right: 40px;
    width: 80px;
    margin: -175px 0 0 ;
    z-index: 17;
}
#nav li {
    width: 80px;
    height: 80px;
    margin: 0 0 10px;
}
#nav li a {
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/bg-money.png) no-repeat;
    width: 80px;
    height: 80px;
    display: block;
}
#nav li a:hover {
    background: url(../images/bg-money.gif) no-repeat;
}
.first_screen {
    background: black;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99 !important;
    background: #000 url(../images/bg-menu.jpg) no-repeat;
    top:0;
    left: 0;
}
.first_screen_holder {
    position: relative;
    width: 100%;
    height: 100%;
}
.menu {
    position: absolute;
    width:350px;
    height: 300px;
    margin: -150px 0 0 -175px;
    top: 50%;
    left: 50%;
}
.menu li{
    position:relative;
    list-style:none;
    font-size:20px;
    margin: 0 0 5px;
    font-family: 'super_mario_bros';
}
.menu li a {
    background: #ffa84c; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
    box-shadow: 0 0 5px #e92706;
    text-align: center;
    color: #000;
    display: block;
    width:350px;
    padding:12px;
}
.menu li a:hover {
    text-decoration: none;
    box-shadow: 0 0 25px #ff0000;
}
.title {
    text-align: center;
    color: #6F0000;
    font: 78px/79px 'super_plumber_brothersregular';
    padding: 50px 0 0;
    text-shadow: 2px 2px #FFFFFF, -2px -2px #FFFFFF, 2px -2px #FFFFFF, -2px 2px #FFFFFF;
}
.donkey {
    background: url(../images/bg-donkey-top.png) no-repeat;
    width: 256px;
    height: 247px;
    position: absolute;
    z-index: 2;
    top: 50%;
    margin: -114px 0 0;
    left: -256px;
}

.mario {
    width: 125px;
    height: 250px;
    background: url(../images/bg-mario.png) no-repeat 0 0;
    position: absolute;
    z-index: 15;
    bottom: 25px;
    left: -125px;
}
.mario {
    background: url(../images/bg-mario.png) no-repeat 0 0;
}
.mario.small {
    background: url(../images/bg-mario-small.png) no-repeat 0 0;
}
.mario.jump {
    background: url(../images/bg-mario-jump.png) no-repeat 0 0;
}
.mario.small.jump {
    background: url(../images/bg-mario-small-jump.png) no-repeat 0 0 !important;
}



.block_3d {
    position: relative;
    width: 150%;
    height: 100%;
    margin: 0 0 0 -25%;
    transform-style: preserve-3d;
    /*transform: perspective(900px) rotate3d(1, 0, 0, 90deg);*/
    transform: rotate3d(1, 0, 0, 0) translate3d(0px, 0px, 0px);
    -webkit-transform-style: preserve-3d;
    /*transform: perspective(900px) rotate3d(1, 0, 0, 90deg);*/
    -webkit-transform: rotate3d(1, 0, 0, 0) translate3d(0px, 0px, 0px);
}
.slides_1 {
    z-index: 2;
}
.front {
    position: absolute;
    top: 0;
    background: url(../images/bg-ground2sky.png) no-repeat 30% 0 / contain;
    width: 150%;
    height: 100%;
    transform: translate3d(0px, 0%, 0px) rotate3d(1, 0, 0, 90deg);
    transform-origin: 0 0 0;
    -webkit-transform: translate3d(0px, 0%, 0px) rotate3d(1, 0, 0, 90deg);
    -webkit-transform-origin: 0 0 0;
}
.ground_holder {
    width: 100%;
    height: 100%;
    position: relative;
}
.ground_2 {
    width: 100%;
    height: 39px;
    position: absolute;
    bottom: 0;
    background: url(../images/bg-ground-5.png) repeat 0 100%;
    transform: translate3d(0px, 100%, 0px) rotate3d(1, 0, 0, 90deg);
    transform-origin: 0 33% 0;
    -webkit-transform: translate3d(0px, 100%, 0px) rotate3d(1, 0, 0, 90deg);
    -webkit-transform-origin: 0 33% 0;
}
.ground_top {
    background: url(../images/bg-ground.jpg);
    width: 100%;
    height: 100%;
    transform-origin: 0 100% 0;
    position: relative;
    z-index: 2;
    -webkit-perspective : 1000px;
    -moz-perspective    : 1000px;
    -o-perspective      : 1000px;
    -ms-perspective     : 1000px;
    perspective         : 1000px;

    -webkit-perspective-origin  : 50% 50%;
    -moz-perspective-origin     : 50% 50%;
    -moz-transform-origin       : 50% 50%;
    -o-perspective-origin       : 50% 50%;
    -ms-perspective-origin      : 50% 50%;
    perspective-origin          : 50% 50%;
}


.cube {
    position: absolute;
    height: 50px;
    width: 50px;

    -webkit-transition  : -webkit-transform 2s linear;
    -moz-transition     : -moz-transform 2s linear;
    -o-transition       : -o-transform 2s linear;
    -ms-transition      : -ms-transform 2s linear;
    transition          : transform 2s linear;

    -webkit-transform-style : preserve-3d;
    -moz-transform-style    : preserve-3d;
    -o-transform-style      : preserve-3d;
    -ms-transform-style     : preserve-3d;
    transform-style         : preserve-3d;
    z-index: 5;
    top:-226px;
}
.cube_0 {
    -webkit-transform : translateY(125px) translateZ(450px);
    -moz-transform    : translateY(125px) translateZ(450px);
    -o-transform      : translateY(125px) translateZ(450px);
    -ms-transform     : translateY(125px) translateZ(450px);
    transform         : translateY(125px) translateZ(450px);

    left: calc(50% - 330px);
    left: -moz-calc(50% - 330px);
    left: -webkit-calc(50% - 330px);
    left: -o-calc(50% - 330px);
    left: -ms-calc(50% - 330px);

    /*margin: 0 0 0 -330px;*/
}
.cube_1 {
    -webkit-transform : translateY(125px) translateZ(450px);
    -moz-transform    : translateY(125px) translateZ(450px);
    -o-transform      : translateY(125px) translateZ(450px);
    -ms-transform     : translateY(125px) translateZ(450px);
    transform         : translateY(125px) translateZ(450px);
    left: calc(50% - 220px);
    left: -moz-calc(50% - 220px);
    left: -webkit-calc(50% - 220px);
    left: -o-calc(50% - 220px);
    left: -ms-calc(50% - 220px);
}
.cube_2 {
    -webkit-transform : translateY(125px) translateZ(450px);
    -moz-transform    : translateY(125px) translateZ(450px);
    -o-transform      : translateY(125px) translateZ(450px);
    -ms-transform     : translateY(125px) translateZ(450px);
    transform         : translateY(125px) translateZ(450px);
    left: calc(50% - 110px);
    left: -moz-calc(50% - 110px);
    left: -webkit-calc(50% - 110px);
    left: -o-calc(50% - 110px);
    left: -ms-calc(50% - 110px);
}
.star {
    -webkit-transform : translateY(125px) translateZ(450px);
    -moz-transform    : translateY(125px) translateZ(450px);
    -o-transform      : translateY(125px) translateZ(450px);
    -ms-transform     : translateY(125px) translateZ(450px);
    transform         : translateY(125px) translateZ(450px);
    left: 50%;
}
.cube > div {
    position: absolute;
    height: 100px;
    width: 100px;
    background-position:center center;
}
.cube div:nth-child(1) {
    -webkit-transform : translateZ(50px);
    -moz-transform    : translateZ(50px);
    -o-transform      : translateZ(50px);
    -ms-transform     : translateZ(50px);
    transform         : translateZ(50px);
    background: url(../images/bg-brick-top.png) no-repeat;
}
.star div:nth-child(1) {
    background: url(../images/bg-block-1-top.png) no-repeat;
}
.cube div:nth-child(2) {
    -webkit-transform : rotateY(90deg) translateZ(50px);
    -moz-transform    : rotateY(90deg) translateZ(50px);
    -o-transform      : rotateY(90deg) translateZ(50px);
    -ms-transform     : rotateY(90deg) translateZ(50px);
    transform         : rotateY(90deg) translateZ(50px);
    background: url(../images/bg-brick.png) no-repeat;
}
.star div:nth-child(2) {
    background: url(../images/bg-block-1.png) no-repeat;
}
.cube div:nth-child(3) {
    -webkit-transform : rotateY(180deg) translateZ(50px);
    -moz-transform    : rotateY(180deg) translateZ(50px);
    -o-transform      : rotateY(180deg) translateZ(50px);
    -ms-transform     : rotateY(180deg) translateZ(50px);
    transform         : rotateY(180deg) translateZ(50px);
    background: url(../images/bg-brick.png) no-repeat;
}

.star div:nth-child(3) {
    background: url(../images/bg-block-1.png) no-repeat;
}
.cube div:nth-child(4) {
    -webkit-transform : rotateY(-90deg) translateZ(50px);
    -moz-transform    : rotateY(-90deg) translateZ(50px);
    -o-transform      : rotateY(-90deg) translateZ(50px);
    -ms-transform     : rotateY(-90deg) translateZ(50px);
    transform         : rotateY(-90deg) translateZ(50px);
    background: url(../images/bg-brick.png) no-repeat;
}

.star div:nth-child(4) {
    background: url(../images/bg-block-1.png) no-repeat;
}
.cube div:nth-child(5) {
    -webkit-transform : rotateX(-90deg) translateZ(50px) rotate(180deg);
    -moz-transform    : rotateX(-90deg) translateZ(50px) rotate(180deg);
    -o-transform      : rotateX(-90deg) translateZ(50px) rotate(180deg);
    -ms-transform     : rotateX(-90deg) translateZ(50px) rotate(180deg);
    transform         : rotateX(-90deg) translateZ(50px) rotate(180deg);
    background: url(../images/bg-brick.png) no-repeat;
}
.star div:nth-child(5) {
    background: url(../images/bg-block-secret.gif) no-repeat;
}
.star div.empty {
    background: url(../images/bg-block-1.png) no-repeat;
}

.cube div:nth-child(6)  {
    -webkit-transform : rotateX(90deg) translateZ(50px);
    -moz-transform    : rotateX(90deg) translateZ(50px);
    -o-transform      : rotateX(90deg) translateZ(50px);
    -ms-transform     : rotateX(90deg) translateZ(50px);
    transform         : rotateX(90deg) translateZ(50px);
    background: url(../images/bg-brick.png) no-repeat;
    text-align:center;
}

.mushroom {
    background: url(../images/bg-mooshrum.png) no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 365px;
    left: 50%;
    z-index: 0;
    opacity: 0;
}
.mushroom.hide {
    opacity: 0 !important;
}
.slides_1 {
    z-index: 4;
}
.slides_2 {
    z-index: 4;
}

.ground_slide2 {
    background: url(../images/bg-ground-4.png) repeat 0 0;
    height: 26px;
    bottom: 0;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
}

.big_mushroom {
    background: url(../images/bg-big-mushroom.png) no-repeat;
    width: 800px;
    height: 1000px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.big_mushroom_1 {
    bottom: -100px;
    left: 20%;
}
.big_mushroom_2 {
    bottom: -450px;
    left: 120%;
    z-index: 4;
}
.big_mushroom_3 {
    bottom: -400px;
    left: 35%;
}
.big_mushroom_3_holder {
    position: relative;
    height: 1000px;
}
.big_mushroom_4 {
    width: 402px;
    height: 540px;
    bottom: -200px;
    background: url(../images/bg-big-mushroom2.png) no-repeat;
    z-index: 0;
    left:0;
}
.cloud_big {
    background: url(../images/bg-clouds.png) repeat-x;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.cloud_small {
    background: url(../images/bg-cloud2.png) no-repeat;
    width: 356px;
    height: 150px;
    position: absolute;
    z-index: 4;
}
.gate {
    background: url(../images/bg-gate.png) no-repeat;
    width: 627px;
    height: 458px;
    position: absolute;
    bottom: 3%;
    right: -250px;
}
.bad_mushroom {
    background: url(../images/bad-mushroom.gif) no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -70px;
    left: 10%;
    z-index: 0;
}
.tube_enemy {
    width: 399px;
    height: 556px;
    position: absolute;
    left: 77%;
    bottom: 43px;
    z-index: 1;
}
.tube_enemy_holder {
    position: relative;
}
.tube_bg {
    background: url(../images/bg-pipe-big.png) no-repeat;
    width: 399px;
    height: 556px;
    position: absolute;
    z-index: 2;
}
.enemy {
    background: url(../images/bg-enemy.png) no-repeat;
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: -405px;
    left: 64px;
    z-index: 0;
}
.path {
    z-index: 7;
    position: relative;
    float: left;
    width: 3000px;
    height: 100%;
}
.ground_4 {
    background: url(../images/bg-ground-4.png) repeat-x 0 100%;
    height: 150px;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: -111px;
}
.ground_wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.path_bg {
    width: 3000px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    background: url(../images/bg-path.png) no-repeat 0 100%;
}
.back {
    position: absolute;
    bottom: 0;
    width: 3215px;
    z-index: 2;
    left: 70%;
    height: 657px;
    background: url(../images/bg-back.png) no-repeat;
}
.trees {
     position: absolute;
     bottom: 0;
     width: 3215px;
     z-index: 15;
     left: 70%;
     height: 657px;
     background: url(../images/bg-tree.png) no-repeat;
 }
.tubes {
    position: absolute;
    bottom: 0;
    width: 1187px;
    z-index: 16;
    left: 90%;
    height: 359px;
    background: url(../images/bg-tubes.png) no-repeat;
}
.tree_3 {
    position: absolute;
    z-index: 0;
    background: url(../images/tree_3.png) no-repeat;
    width: 1000px;
    height: 797px;
}
.tree_2 {
    position: absolute;
    z-index: 0;
    background: url(../images/tree_2.png) no-repeat;
    width: 569px;
    height: 464px;
}
.tree_1 {
    position: absolute;
    z-index: 0;
    background: url(../images/tree_1.png) no-repeat;
    width: 424px;
    height: 396px;
}
.tree_1_1 {
    left: 85%;
    bottom: 25px;
}
.tree_2_1 {
    left: 32%;
    bottom: 77px;
}
.tree_2_2 {
    left: 12%;
    bottom: 22px;
}
.tree_3_1 {
    left: 60%;
    bottom: 0;
}
.tree_3_2 {
    left: 40%;
    bottom: 5%;
}
.tree_3_3 {
    left: 10%;
    bottom: 0;
}
.castle {
    background: url(../images/bg-castle.png) no-repeat;
    width: 534px;
    height: 650px;
    position: absolute;
    bottom: 38px;
    right: 100px;
}
.donkey_2 {
    background: url(../images/bg-donkey-2.png) no-repeat;
    width: 467px;
    height: 350px;
    position: absolute;
    right: 70px;
    bottom: -3px;
    z-index: 2;
}
.rocket_mario .rocket {
    opacity: 1;
}
.mario.rocket_mario  {
    background: url(../images/bg-mario-jump.png) no-repeat 0 0 !important;
}
.rocket_wrap {
    position: relative;
}
.rocket {
    opacity: 0;
    position: absolute;
    background: url(../images/bg-rocket-launcher.png) no-repeat;
    width: 410px;
    height: 94px;
    top: 10px;
    left: -131px;
}
.rocket_rocket {
    width: 45px;
    height: 49px;
    background: url(../images/bg-rocket.png) no-repeat;
    position: absolute;
    right: -191px;
    bottom: -73px;
    opacity: 0;
}
.explosion {
    background: url(../images/bg-explosion.png) no-repeat;
    width: 75px;
    height: 59px;
    position: absolute;
    right: -213px;
    bottom: -76px;
    z-index: 2;
    opacity: 0;
}
.explo_wrap {
    position: relative;
}
.explo {
    width: 600px;
    height: 600px;
    background: url(../images/explo_donkey.png) no-repeat;
    opacity: 0;
    position: absolute;
    left: -82px;
    top: -146px;
}
.key {
    background: url(../images/bg-key.png) no-repeat;
    width: 54px;
    height: 162px;
    opacity: 0;
    right: 400px;
    position: absolute;
    bottom: 40px;
    z-index: 2;
}
#text_1 {
    position: absolute;
    top:50%;
    left: 50%;
    font: 90px/90px 'FunnyPagesRegular';
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-shadow: 0 1px 0 white, 0 2px 0 white, 0 -1px 0 white, 0 -2px 0 white, 1px 0 0 white, 2px 0 0 white, -1px 0 0 white, -2px 0 0 white, -3px 0 3px rgba(0, 0, 0, 0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
    color: #c11;
    z-index: 5;
}
#text_1 .text_1_holder {
    position: relative;
    white-space: nowrap;
}
#text_1 .text_1_holder > span {
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    transform: scale(3, 3);
    -moz-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    -o-transform: scale(3, 3);
    -ms-transform: scale(3, 3);
}
#text_0 {
    display: none;
    position: absolute;
    top:50%;
    left: 50%;
    font: 130px/150px 'super_plumber_brothersregular';
    color: orange;
    z-index: 6;
    white-space: nowrap;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-shadow: 0 -1px 1px rgba(250, 180, 0, 0.7), 0 1px 0px #c30000, 0 2px 0px #c30000, 0 3px 0px #c30000, 0 4px 0px #c30000, 0 5px 0px #c30000, 0 6px 0px #c30000, 0 7px 0px #c30000, 0 8px 0px #970000, 0 9px 0px #970000, 0 10px 0px #970000, 0 11px 0px #970000, 0 12px 0px #970000, 0 13px 0px #970000, 0 14px 0px #970000, 0 15px 0px #4e0000, 0 16px 0px #4e0000, 0 17px 0px #4e0000, 0 18px 0px #4e0000, 0 19px 0px #4e0000, 0 20px 0px #4e0000, 0 21px 0px #4e0000;

}
.text_1_2 span:nth-child(1) {
    color: #f93;
}
.text_1_2 span:nth-child(2) {
    color: #f50000;
}
.text_1_2 span:nth-child(3) {
    color: #333;
}
.text_1_2 span:nth-child(4) {
    color: #008;
}
.text_1_2 span:nth-child(5) {
    color: #999;
}
.text_1_2 span:nth-child(6) {
    color: rgba(0,220,250,0.5);
}
.text_1_2 span:nth-child(7) {
    color: #4a4;
}
#text_01 {
    position: absolute;
    top:50%;
    left: 50%;
    z-index: 0;
    font: 100px/120px 'super_mario_bros';
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-shadow: 0 1px 0 white, 0 2px 0 white, 0 -1px 0 white, 0 -2px 0 white, 1px 0 0 white, 2px 0 0 white, -1px 0 0 white, -2px 0 0 white, -3px 0 3px rgba(0, 0, 0, 0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
    color: #37b;
    opacity: 0;
    background: orange;
    padding: 5px 9999px 6px;
}
#text_0 span{
    display:inline-block;
    position:relative;
    top:20px;
    -webkit-font-smoothing:antialiased;
    visibility:hidden;
}
#text_2 {
    position: absolute;
    top:50%;
    left: 100px;
    font: 80px/82px 'super_mario_bros';
    color: orange;
    z-index: 10;
    white-space: nowrap;
    transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
}
#text_4 {
    text-transform: uppercase;
    font: 50px/52px 'super_plumber_brothersregular';
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translate(0,150%);
    -moz-transform: translate(0,150%);
    -webkit-transform: translate(0,150%);
    -o-transform: translate(0,150%);
    -ms-transform: translate(0,150%);
    text-align: center;
    letter-spacing: 1.5em;
    text-shadow: 0 0 3px hsl(65, 60%,75%), /* light substrate */ 0 0 1px hsl(65, 60%,95%), /* blurring */ 0 0 4px hsla(65, 100%, 30%, 0.4), /* cutting substrate pieces */ 6px 6px 4px hsl(65, 60%,95%), -4px -6px 4px hsl(65, 60%,95%), /* dark outlining */ 0 0 1px hsl(65, 60%, 20%);
    color: hsl(65, 60%, 20%);
    z-index: 20;
    visibility: hidden;
}
#text_2 div {
    padding: 10px;
    background: black;
    display: inline-block;
}
.slide_2 {
    position: relative;
    z-index: 7;
}
.text_3 {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 20;
    padding: 20px;
    background: #1c160d;
    visibility: hidden;
}
.text_3 h2 {
    font: 48px/50px 'super_plumber_brothersregular';
    margin: 0 0 10px;
    color: #4d9200;
    text-align: center;
}
.text_3 ul {
    font: 25px/26px 'super_plumber_brothersregular';
}
.text_3 ul li:before {
    content: "- ";
}
.text_3 ul li {
    margin: 0 0 10px;
    text-decoration: underline;
}
.text_3 ul li:nth-child(1) {
    color: #008;
}
.text_3 ul li:nth-child(2) {
    color: #f50000;
}
.text_3 ul li:nth-child(3) {
    color: #999;
}
.text_3 ul li:nth-child(4) {
    color: #4a4;
}
.text_3 ul li:nth-child(5) {
    color: rgba(0,220,250,0.5);
}











#qLpercentage {
    visibility: hidden;
}
#preloader_view {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 70000;
    background: #000;
}

.loader_4 {
    z-index: 200;
    position:absolute;
    width:600px;
    height:36px;
    left:50%;
    top:40%;
    margin-left:-300px;
    overflow:visible;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
}
.loader_4 div {
    position:absolute;
    width:20px;
    height:36px;
    opacity:0;
    font-family:Helvetica, Arial, sans-serif;
    animation:loader_4 2s linear infinite;
    -o-animation:loader_4 2s linear infinite;
    -moz-animation:loader_4 2s linear infinite;
    -webkit-animation:loader_4 2s linear infinite;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    color:#35C4F0;
}
.loader_4 div:nth-child(2) {
    animation-delay:0.2s;
    -o-animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
}
.loader_4 div:nth-child(3) {
    animation-delay:0.4s;
    -o-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
}
.loader_4 div:nth-child(4) {
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
}
.loader_4 div:nth-child(5) {
    animation-delay:0.8s;
    -o-animation-delay:0.8s;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
}
.loader_4 div:nth-child(6) {
    animation-delay:1s;
    -o-animation-delay:1s;
    -moz-animation-delay:1s;
    -webkit-animation-delay:1s;
}
.loader_4 div:nth-child(7) {
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
}

@keyframes loader_4 {
    0% {
        left:0;
        opacity:0;
    }
    35% {
        left: 41%;
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%;
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%;
        -moz-transform:rotate(-180deg);
        -webkit-transform:rotate(-180deg);
        -o-transform:rotate(-180deg);
        transform:rotate(-180deg);
        opacity:0;
    }
}

@-moz-keyframes loader_4 {
    0% {
        left:0;
        opacity:0;
    }
    35% {
        left:41%;
        -moz-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%;
        -moz-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%;
        -moz-transform:rotate(-180deg);
        transform:rotate(-180deg);
        opacity:0;
    }
}

@-webkit-keyframes loader_4 {
    0% {
        left:0;
        opacity:0;
    }
    35% {
        left:41%;
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%;
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%;
        -webkit-transform:rotate(-180deg);
        transform:rotate(-180deg);
        opacity:0;
    }
}

@-o-keyframes loader_4 {
    0% {
        left:0;
        opacity:0;
    }
    35% {
        left:41%;
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%;
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%;
        -o-transform:rotate(-180deg);
        transform:rotate(-180deg);
        opacity:0;
    }
}