@font-face {
    font-family: 'super_mario_bros';
    src: url('../fonts/super_mario_bros-webfont.eot');
    src: url('../fonts/super_mario_bros-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/super_mario_bros-webfont.woff') format('woff'),
    url('../fonts/super_mario_bros-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'super_plumber_brothersregular';
    src: url('../fonts/super_plumber_brothers-webfont.eot');
    src: url('../fonts/super_plumber_brothers-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/super_plumber_brothers-webfont.woff') format('woff'),
        url('../fonts/super_plumber_brothers-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FunkyStoneageRegular';
    src: url('../fonts/funkystoneage.eot');
    src: url('../fonts/funkystoneage.eot') format('embedded-opentype'),
        url('../fonts/funkystoneage.woff') format('woff'),
        url('../fonts/funkystoneage.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FunnyPagesRegular';
    src: url('../fonts/funny2.eot');
    src: url('../fonts/funny2.eot') format('embedded-opentype'),
        url('../fonts/funny2.woff') format('woff'),
        url('../fonts/funny2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}