/* =============================================================================
	BODY
	========================================================================== */
html, body {
    height: 100%;
}
body {
    margin:0;
    color:#000;
    font:12px/1 Arial, Helvetica, sans-serif;
    background:#000;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:none;
}
/* =============================================================================
	HTML5
	========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block;}
audio, canvas, video {display:inline-block; display:inline; *zoom:1;}
audio:not([controls]) {display:none;}
[hidden] {display:none;}
figure {margin:0;}
iframe {border:0;}
/* =============================================================================
	IMAGES
	========================================================================== */
img {border:0; -ms-interpolation-mode:bicubic; vertical-align:top;}
/* =============================================================================
	LINKS
	========================================================================== */
a {color:#5f5f5f; text-decoration:none; outline:none;}
a:hover {color:#000; text-decoration:underline;}
a:focus {outline:none;}
a:hover, a:active {outline:0;}
a:active {background-color:transparent;}
/* =============================================================================
	SELECT TEXT
	========================================================================== */
::-moz-selection {background:#00f; color:#fff; text-shadow:none;}
::selection {background:#00f; color:#fff; text-shadow:none;}
/* =============================================================================
	FORMS
	========================================================================== */
form, fieldset {margin:0; padding:0; border-style:none;}
label {cursor:pointer;}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor:pointer; -webkit-appearance: none; *overflow:visible;}
input {outline:none;}
button[disabled], input[disabled] {cursor:default;}
button::-moz-focus-inner, input::-moz-focus-inner {border:0; padding:0;}
button {padding:0}
input[type="checkbox"], input[type="radio"] {width:15px; height:16px; padding:0; margin:0;}
input, textarea, select {font:100% Arial, Helvetica, sans-serif; vertical-align:middle; color:#000;}
textarea {resize:vertical; margin:0; padding:0; overflow:auto; vertical-align:top; outline:none;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance:none; box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
input:-moz-placeholder {color:#000;}
input::-moz-placeholder {color:#000;opacity:1;}
input::-webkit-input-placeholder {color:#000;}
input:-ms-input-placeholder {color:#000;}
input::placeholder {color:#000;}
input:focus:-moz-placeholder {color:transparent;}
input:focus::-moz-placeholder {color:transparent;}
input:focus::-webkit-input-placeholder {color:transparent;}
input:focus:-ms-input-placeholder {color:transparent;}
input:focus::placeholder {color:transparent;}
input::-ms-clear {display:none;}
/*Iphone Border Radius Fix*/
input {-webkit-border-radius:0;}
textarea {-webkit-border-radius:0;}
/* =============================================================================
	TABLES
	========================================================================== */
table, caption, tbody, tfoot, thead, tr, th, td {border-collapse:collapse; border-spacing:0;}
td {text-align:left; vertical-align:top;}
th {text-align:center; vertical-align:middle;}
/* =============================================================================
	QUOTES
	========================================================================== */
q {quotes:none;}
q:before {content:''}
q:after {content:''}
/* =============================================================================
	LISTS
	========================================================================== */
ul, ol {list-style:none; margin:0 0 10px; padding:0;}
dl {margin:0 0 10px;}
nav ul, nav ol {margin:0;}
ul li {list-style:none; list-style:none outside;}
/* =============================================================================
	SEMANTIC TAG
	========================================================================== */
h1 {font-size:30px; line-height:1.25; margin:0 0 20px;}
h2 {font-size:28px; line-height:1.25; margin:0 0 18px;}
h3 {font-size:26px; line-height:1.2; margin:0 0 16px;}
h4 {font-size:24px; line-height:1.2; margin:0 0 14px;}
h5 {font-size:22px; line-height:1.1; margin:0 0 12px;}
h6 {font-size:20px; line-height:1.1; margin:0 0 10px;}
blockquote {margin:0 0 10px;}
b, strong {font-weight:bold;}
sub, sup, small {font-size:75%;}
sub, sup {line-height:0; position:relative; vertical-align:baseline;}
sub {bottom:-0.25em;}
sup {top:-0.5em;}
svg:not(:root) {overflow:hidden;}
p {margin:0 0 10px;}
hr {display:block; height:1px; border:0; border-top:1px solid #ccc; margin:0; padding:0;}
*+html hr {margin:-7px 0;}
mark {background:#ff0;}
ins {text-decoration:none; background:#ff9;}
del {text-decoration:line-through;}
pre {white-space:pre; white-space:pre-wrap; word-wrap:break-word} /* Allow line wrapping of 'pre' */
pre, code, kbd, samp {margin:0 0 10px; font:10px/13px Lucida Console, Monaco, monospace}
/* =============================================================================
	MOBILE VERSION
	========================================================================== */
/*img, embed, object, video {max-width:100%;}*/
/*input[type="image"] {padding:0;border:none;}*/
