<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <meta name="google" value="notranslate" />

    <title>Easy Parallax Plugin 4.0</title>

    <link rel="stylesheet" href="./css/fonts.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="./css/need.css">
</head>
<body>
    <a href="https://github.com/AlexSergey/EasyParallaxPlugin/" class="github-corner" aria-label="View source on GitHub" style="position: fixed; top: 0; right: 0; width: 50px; z-index: 10000" target="_blank">
        <svg width="80" height="80" viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true">
            <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
            <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
            <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
        </svg>
    </a>
    <div id="site">
        <ul id="nav" class="paging">
            <li><a href="#" data-label="start">Start</a></li>
            <li><a href="#" data-label="slide1">Step 1</a></li>
            <li><a href="#" data-label="slide2">Step 2</a></li>
            <li><a href="#" data-label="slide3">Step 3</a></li>
        </ul>
        <div id="wrapper">
            <div class="skyes"></div>
            <div class="mario small">
                <div class="rocket_wrap">
                    <div class="rocket"></div>
                    <div class="rocket_rocket"></div>
                    <div class="explosion"></div>
                </div>
            </div>
            <div class="cloud_big cloud_1"></div>
            <div class="cloud_small cloud_2"></div>
            <div class="cloud_small cloud_3"></div>
            <div class="cloud_small cloud_4"></div>
            <div class="cloud_small cloud_5"></div>
            <div class="back"></div>
            <div class="trees"></div>
            <div class="tubes"></div>
            <div class="cloud_3"></div>
            <div class="text_3">
                <h2>Features:</h2>
                <ul>
                    <li>Mobile device compatibility</li>
                    <li>Mouse scroll events</li>
                    <li>Keyboard events support</li>
                    <li>Horizontal scroller</li>
                    <li>Scroll / anchor navigate</li>
                </ul>
            </div>
            <div class="slides slides_1">
                <div id="text_0">AlexSergey</div>
                <div id="text_01"><a href="http://gooddev.org" target="_blank">http://gooddev.org</a></div>
                <div id="text_1">
                    <div class="text_1_holder">
                        <span class="text_1_1">Easy</span>
                        <span class="text_1_2"><span>P</span><span>a</span><span>r</span><span>a</span><span>l</span><span>l</span><span>a</span><span>x</span></span>
                        <span class="text_1_3">Plugin 4.0</span>
                    </div>
                </div>
                <div class="mushroom"></div>
                <div class="donkey"></div>
                <div class="block_3d">
                    <div class="cube cube_0">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                    <div class="cube cube_1">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                    <div class="cube cube_2">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="cube star">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div class="secret"></div>
                        <div></div>
                    </div>
                    <div class="front"></div>
                    <div class="ground_top">
                    </div>
                    <div class="ground_2"></div>
                </div>
            </div>

            <div class="slides slides_2">
                <div class="ground_slide2"></div>
                <div class="tree_2 tree_2_2"></div>
                <div class="tree_1 tree_1_1"></div>
                <div class="big_mushroom big_mushroom_1"></div>
                <div class="big_mushroom big_mushroom_3">
                    <div class="big_mushroom_3_holder">

                        <div class="bad_mushroom"></div>
                        <div class="tube_enemy">
                            <div class="tube_enemy_holder">
                                <div class="tube_bg"></div>
                                <div class="enemy"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="big_mushroom big_mushroom_4">
                </div>
            </div>
            <div class="path">
                <div id="text_2">
                    <div>G</div>
                    <div>R</div>
                    <div>E</div>
                    <div>E</div>
                    <div>N</div>
                    <div>S</div>
                    <div>O</div>
                    <div>C</div>
                    <div>K</div>
                </div>
                <div id="text_4">
                    powered
                </div>
                <div class="path_bg"></div>
                <div class="tree_3 tree_3_1"></div>
                <div class="tree_3 tree_3_2"></div>
                <div class="tree_3 tree_3_3"></div>
                <div class="tree_2 tree_2_1"></div>
            </div>
            <div class="slides slide3">
                <div class="ground_wrap">
                    <div class="ground_4"></div>
                </div>
            </div>
            <div class="slides slides_4">
                <div class="ground_4"></div>
                <div class="donkey_2"><div class="explo_wrap"><div class="explo"></div></div></div>
                <div class="key"></div>
                <div class="castle"></div>
            </div>
        </div>

        <div id="drag-wrapper">
            <div class="drag-border">
                <div id="drag-container">
                    <div class="drag-bar"></div>
                    <div class="drag-elem"></div>
                </div>
            </div>
        </div>
    </div>
    
    <% if (Array.isArray(htmlWebpackPlugin.files.css)) { %>
        <% htmlWebpackPlugin.files.css.forEach(function(css){ %>
            <link rel="preload" href="<%- css %>" as="style">
            <link href="<%- css %>" rel="stylesheet">
        <% }); %>
    <% } %>
    <% if (Array.isArray(htmlWebpackPlugin.files.js)) { %>
        <% htmlWebpackPlugin.files.js.forEach(function(js){ %>
            <script src="<%- js %>" type="text/javascript"></script>
        <% }); %>
    <% } %>
</body>
</html>
